In [ ]:
a = 234567
print(type(a))

In [ ]:
b = 239020000000000 ** 10
print(type(b),b)

<class 'int'> 608614675987485414716839166391209203015690240000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
x = 1.10
y = 1.0
z = 35.59
m = 87.7e100
print(type(x))
print(type(y))
print(type(z))
print(type(m))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
name = "bruce wayne 01"
color ='yellow'
institute = 'digipodium'
print(type(name))
print(type(color))
print(type(institute))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
  is_coding = True
  is_fun = True
  are_u_bored = False

In [ ]:
x = None
print(type(None))

<class 'NoneType'>

In [ ]:
color = None
print(color,type(color))

None <class 'NoneType'>

In [ ]:
d = [5,10,15,20,25,30,35,40]
t = [1,22,'python']
h = ['red','green','yellow']
print(type(d))
print(type(t))
print(type(h))

<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
a = (5,10,15,20,30)
print(type(a))

<class 'tuple'>

In [ ]:
a = {5,10,15,20,25}
print(type(a))

<class 'set'>

In [ ]:
car_info = {
    "brand": "Ford",
    "model": "Mustand",
    "year":1964
}

In [ ]:
Operators
.addition(+)
.subtraction(-)
.multipication(*)
.division(/)

In [ ]:
5355 + 4343 + 4567

14265

In [ ]:
10 ** 3

1000

In [ ]:
print( 'Hello, World!')

Hello, World!

In [ ]:
age = 18
color2 = 'red'
name = 'bob'
is_sleeping = False
print(type(age))
print(type(color2))
print(type(name))

<class 'int'>
<class 'str'>
<class 'str'>

In [ ]:
x = 1
y = 34456722
z = -8665774
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
name = 1.10

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
b = 1.0
c  = -35.59
d = 87.7e100
print(type(name))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
name = '''jaya'''
age = "23"
print(type(name))
print(type(age))

<class 'str'>
<class 'str'>

In [ ]:
is_fun = True
print(type(is_fun))

<class 'bool'>

In [ ]:
y = None
print(type(y))

<class 'NoneType'>

In [5]:
x = [4,7,45,56,78,89,98,76,54,32]

In [ ]:
vals = [1,2.2,'python']
colors = ['yellow','green','blue']
print(type(x))
print(type(colors))

In [ ]:
name = "jaya"
len(name) > 5 and name.startswith("j")

False

In [ ]:
 #identity operators
 x =[1,2,3]
 y = x
 z =[1,2,3]

In [1]:
x is y

NameError: name 'x' is not defined

In [3]:
x is z

NameError: name 'x' is not defined

In [4]:
values = [1,2,3,4,5]
print(3 in values)
print(10 in values)

True
False

In [13]:
x = input()

In [14]:
name = input("what is your name?")
college = ("what college do you go to")
city = input("what city do you live in?")

In [15]:
print(name,college,city)

 what college do you go to name

In [16]:
m =0.10
n = 4
o = 7
print(type(m))
print(type(n))

<class 'float'>
<class 'int'>

In [17]:
a = 12
b =98
c =78786
print(type(a))

<class 'int'>

In [18]:
x = 97.98
x = 32.3+18
y = -32.54e100
print(x)
print(y)

50.3
-3.254e+101

In [19]:
k = (981.09)
l = [789.05]
print(k)
print(l)

981.09
[789.05]

In [20]:
x = 1 # int 
y = 2.8 # float
z = 1j # complex
#convert from to float:
a = float(x)
# convert from to int:
b = int(y)
# convert from to complex:
c = complex(z)
print(a)
print(y)
print(c)

1.0
2.8
1j

In [21]:
x = 5 
print(5)

5

In [20]:
x = input()

In [4]:
name = input("what is your name?")
college = ("what college do you go to")
city = input("what city do you live in?")

In [5]:
print(name,college,city)

 what college do you go to

int () => converts string to integer
float () => converts string to float
str () => converts anything to string
bool () => converts anything to boolean

In [2]:
# As input function converts all the variables into string therefore we need to CAST on the values
# Casting function converts string into any given data type

num1 = input("enter a number":)
num2 = input("enter another number":)
num1 = int(num1)
num2 = int(num2)
print(num1 + num2)

SyntaxError: invalid syntax (2316151665.py, line 4)

In [26]:
# Or one can cast directly, where bodmas rule applies. First the inner brackets are going to solve then the outer brackets will solve
n1 =int(input('enter a num'))
n2 =int(input('enter another num'))
print(n1+n2)

ValueError: invalid literal for int() with base 10: ''

In [20]:
uinput = input("enter a condition:")
eval(uinput)

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [3]:
x = 35
y = 10
z = x + y

In [4]:
print('the value of',x,'and',y,'is',z ) #simplest way to display msg with variables

the value of 35 and 10 is 45

In [5]:
print('the value of %d and %d is %d'%(x,y,z)) # another way to display msg with variables

the value of 35 and 10 is 45

In [6]:
print('the value of' + str(x) +' and'+ str(y) + ' is'+ str(z))

the value of35 and10 is45

In [7]:
 # before python 3.6
 print('the value of {} and {}'.format(x,y,z))

the value of 35 and 10

In [8]:
# after python 3.6
print(f'the value of {x} and {y} is {z}')

the value of 35 and 10 is 45

In [9]:
sigma = 12.4567868643
print(sigma)

12.4567868643

In [10]:
print(f'the value of {sigma:.2f}') # 2 decimal places

the value of 12.46

In [11]:
print(f'the value of {sigma:.3f}')# 3 decimal places

the value of 12.457

In [12]:
print(f'the value of {sigma:.1f}')# 1 decimal places|

the value of 12.5

In [13]:
print(x,y,z,x,y,z,x,y,z,)

35 10 45 35 10 45 35 10 45

In [14]:
print(x,y,z,x,y,z,x,z,sep='?')

35?10?45?35?10?45?35?45

In [15]:
print('amar','kumar',sep='_')

amar_kumar

In [16]:
print('hello')
print('world')
print('everyone')

hello
world
everyone

In [17]:
print('hello',end='?')

hello?

In [1]:
print('hello',end='')
print('world',end='')
print('everyone',end='')
print('finish')

helloworldeveryonefinish

In [2]:
print('hello')

hello

In [4]:
print('you see an apple seller')
q = input('do you like apples ?')

if q == 'yes' :
    print('purchase 2kg of apples')
if q == 'no' :
     print('you dont purchase apples')

you see an apple seller

In [5]:
x = 10
if x > 5:
    print('x is greater than 5')
    print('this is the info we needed')
    print('with this power,comes great responsbility')
print('the end')

x is greater than 5
this is the info we needed
with this power,comes great responsbility
the end

In [11]:
temp = float(input('what is the temprature? '))
if temp > 70:
    print('Wear shorts.')
else:
    print('Wear long pants.') 
print('Get some excercise outside.')

Wear long pants.
Get some excercise outside.

In [ ]:
# WAP to calculate the total bill of customer,gst is 5%.if the amount is less than 500 then give discount of 100%,else give discount of 20%.

In [21]:
amt = float(input("enter bill amt:"))
gst = amt * .05
total = amt + gst
if total < 500:
    disc = total * .1
    final = total - disc
    print(final)
else:
    disc = total *  .2 
    final = total - disc
    print(final)

0.47250000000000003

In [ ]:
# One-Liner Alternative 1:
if 42 in range(100): print("42")

42

In [24]:
# One-Liner Alternative 2:
x = "Alice" if "Jon" in "My name is Jonas" else "Bob"
print(x)

Alice

In [25]:
# One-Liner Alternative 3:
print("42") if 42 in [22,33,42] else print("21")

42

In [7]:
x = 20
if x > 10:
   print('yes')
else:
        print('no')

yes

In [8]:
print('yes') if x < 10 else print('no') # optional one-liner

no