In [7]:
x = "PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [11]:
story="Once"
for char in story:
    print(char, end=' ')

O n c e

In [9]:
names = ['Alice','Bob','Charlie','David','Eve','Frank']
for name in names:
    print(name, len(name))

Alice 5
Bob 3
Charlie 7
David 5
Eve 3
Frank 5

In [12]:
fruits = ['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [13]:
for i in range(500):
    print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5
you got point 6
you got point 7
you got point 8
you got point 9
you got point 10
you got point 11
you got point 12
you got point 13
you got point 14
you got point 15
you got point 16
you got point 17
you got point 18
you got point 19
you got point 20
you got point 21
you got point 22
you got point 23
you got point 24
you got point 25
you got point 26
you got point 27
you got point 28
you got point 29
you got point 30
you got point 31
you got point 32
you got point 33
you got point 34
you got point 35
you got point 36
you got point 37
you got point 38
you got point 39
you got point 40
you got point 41
you got point 42
you got point 43
you got point 44
you got point 45
you got point 46
you got point 47
you got point 48
you got point 49
you got point 50
you got point 51
you got point 52
you got point 53
you got point 54
you got point 55
you got point 56
you got point 57
you got point 58
you got point 59
you got point 60
you got point 61
you got point 62
you got point 63
you got point 64
you got point 65
you got point 66
you got point 67
you got point 68
you got point 69
you got point 70
you got point 71
you got point 72
you got point 73
you got point 74
you got point 75
you got point 76
you got point 77
you got point 78
you got point 79
you got point 80
you got point 81
you got point 82
you got point 83
you got point 84
you got point 85
you got point 86
you got point 87
you got point 88
you got point 89
you got point 90
you got point 91
you got point 92
you got point 93
you got point 94
you got point 95
you got point 96
you got point 97
you got point 98
you got point 99
you got point 100
you got point 101
you got point 102
you got point 103
you got point 104
you got point 105
you got point 106
you got point 107
you got point 108
you got point 109
you got point 110
you got point 111
you got point 112
you got point 113
you got point 114
you got point 115
you got point 116
you got point 117
you got point 118
you got point 119
you got point 120
you got point 121
you got point 122
you got point 123
you got point 124
you got point 125
you got point 126
you got point 127
you got point 128
you got point 129
you got point 130
you got point 131
you got point 132
you got point 133
you got point 134
you got point 135
you got point 136
you got point 137
you got point 138
you got point 139
you got point 140
you got point 141
you got point 142
you got point 143
you got point 144
you got point 145
you got point 146
you got point 147
you got point 148
you got point 149
you got point 150
you got point 151
you got point 152
you got point 153
you got point 154
you got point 155
you got point 156
you got point 157
you got point 158
you got point 159
you got point 160
you got point 161
you got point 162
you got point 163
you got point 164
you got point 165
you got point 166
you got point 167
you got point 168
you got point 169
you got point 170
you got point 171
you got point 172
you got point 173
you got point 174
you got point 175
you got point 176
you got point 177
you got point 178
you got point 179
you got point 180
you got point 181
you got point 182
you got point 183
you got point 184
you got point 185
you got point 186
you got point 187
you got point 188
you got point 189
you got point 190
you got point 191
you got point 192
you got point 193
you got point 194
you got point 195
you got point 196
you got point 197
you got point 198
you got point 199
you got point 200
you got point 201
you got point 202
you got point 203
you got point 204
you got point 205
you got point 206
you got point 207
you got point 208
you got point 209
you got point 210
you got point 211
you got point 212
you got point 213
you got point 214
you got point 215
you got point 216
you got point 217
you got point 218
you got point 219
you got point 220
you got point 221
you got point 222
you got point 223
you got point 224
you got point 225
you got point 226
you got point 227
you got point 228
you got point 229
you got point 230
you got point 231
you got point 232
you got point 233
you got point 234
you got point 235
you got point 236
you got point 237
you got point 238
you got point 239
you got point 240
you got point 241
you got point 242
you got point 243
you got point 244
you got point 245
you got point 246
you got point 247
you got point 248
you got point 249
you got point 250
you got point 251
you got point 252
you got point 253
you got point 254
you got point 255
you got point 256
you got point 257
you got point 258
you got point 259
you got point 260
you got point 261
you got point 262
you got point 263
you got point 264
you got point 265
you got point 266
you got point 267
you got point 268
you got point 269
you got point 270
you got point 271
you got point 272
you got point 273
you got point 274
you got point 275
you got point 276
you got point 277
you got point 278
you got point 279
you got point 280
you got point 281
you got point 282
you got point 283
you got point 284
you got point 285
you got point 286
you got point 287
you got point 288
you got point 289
you got point 290
you got point 291
you got point 292
you got point 293
you got point 294
you got point 295
you got point 296
you got point 297
you got point 298
you got point 299
you got point 300
you got point 301
you got point 302
you got point 303
you got point 304
you got point 305
you got point 306
you got point 307
you got point 308
you got point 309
you got point 310
you got point 311
you got point 312
you got point 313
you got point 314
you got point 315
you got point 316
you got point 317
you got point 318
you got point 319
you got point 320
you got point 321
you got point 322
you got point 323
you got point 324
you got point 325
you got point 326
you got point 327
you got point 328
you got point 329
you got point 330
you got point 331
you got point 332
you got point 333
you got point 334
you got point 335
you got point 336
you got point 337
you got point 338
you got point 339
you got point 340
you got point 341
you got point 342
you got point 343
you got point 344
you got point 345
you got point 346
you got point 347
you got point 348
you got point 349
you got point 350
you got point 351
you got point 352
you got point 353
you got point 354
you got point 355
you got point 356
you got point 357
you got point 358
you got point 359
you got point 360
you got point 361
you got point 362
you got point 363
you got point 364
you got point 365
you got point 366
you got point 367
you got point 368
you got point 369
you got point 370
you got point 371
you got point 372
you got point 373
you got point 374
you got point 375
you got point 376
you got point 377
you got point 378
you got point 379
you got point 380
you got point 381
you got point 382
you got point 383
you got point 384
you got point 385
you got point 386
you got point 387
you got point 388
you got point 389
you got point 390
you got point 391
you got point 392
you got point 393
you got point 394
you got point 395
you got point 396
you got point 397
you got point 398
you got point 399
you got point 400
you got point 401
you got point 402
you got point 403
you got point 404
you got point 405
you got point 406
you got point 407
you got point 408
you got point 409
you got point 410
you got point 411
you got point 412
you got point 413
you got point 414
you got point 415
you got point 416
you got point 417
you got point 418
you got point 419
you got point 420
you got point 421
you got point 422
you got point 423
you got point 424
you got point 425
you got point 426
you got point 427
you got point 428
you got point 429
you got point 430
you got point 431
you got point 432
you got point 433
you got point 434
you got point 435
you got point 436
you got point 437
you got point 438
you got point 439
you got point 440
you got point 441
you got point 442
you got point 443
you got point 444
you got point 445
you got point 446
you got point 447
you got point 448
you got point 449
you got point 450
you got point 451
you got point 452
you got point 453
you got point 454
you got point 455
you got point 456
you got point 457
you got point 458
you got point 459
you got point 460
you got point 461
you got point 462
you got point 463
you got point 464
you got point 465
you got point 466
you got point 467
you got point 468
you got point 469
you got point 470
you got point 471
you got point 472
you got point 473
you got point 474
you got point 475
you got point 476
you got point 477
you got point 478
you got point 479
you got point 480
you got point 481
you got point 482
you got point 483
you got point 484
you got point 485
you got point 486
you got point 487
you got point 488
you got point 489
you got point 490
you got point 491
you got point 492
you got point 493
you got point 494
you got point 495
you got point 496
you got point 497
you got point 498
you got point 499

In [14]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [17]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [21]:
# reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [19]:
# pattern loop
for i in range(10):
    print(i * 'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

In [30]:
1# wap to calculate total number from 1 to 50

total = 0
for i in range(1,51):
    total += i
print(total)

1275

In [44]:
# wap to add all numbers that are divisible by 3 ranging from 1 

values = 0
for i in range(1,101):
    if(i%3==0):
        values = values + i
print(values)

1683

In [42]:
total = 0
for  i in range(3,100,3):
    total += i
print(total)

1683

In [36]:
total = 0
for i in range(1,100):
    total = total+i
print(total/99)

50.0

In [46]:
total = 0
for i in range(8):
    total=total + i
print(total)

28

In [1]:
total = 0
for i in range(10):
    total=total +i
print(total)

45

In [2]:
total = 38
for i in range(50):
    total=total +i 
print(total)

1263

In [3]:
total = 67
for i in range(80):
    total=total +i
print(total)

3227

In [4]:
total = 78
for i in range(90):
    total=total +i
print(total)

4083

In [7]:
total = 100
for i in range(100):
    total=total +i
print(total)

5050

In [2]:
x = 1
while x < 5:
    print('run')
    x += 1
print('stop')

run
run
run
run
stop

In [6]:

n = 100
# initialize sum and counter
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i =i+1 # update counter
# print the sum
print("The sum is",sum)

The sum is 5050

In [8]:
data = [1,2,3,4,5,6,7,8,9,10]
 
for val in data:
    if val < 0:
     print(val)

In [10]:
data =[1,2,3,4,5,6,7,8,9,10]

for val in data:
    if val < 0:
        break
    print(val)

1
2
3
4
5
6
7
8
9
10

In [11]:
data = [1,2,3,4,5,6,7,8,9,10]

for val in data:
    if val < 0:
        break
    print(val,end='')

12345678910

In [12]:
for i in range(1,100):
    print(i)
    if i % 8 == 0:
        break

1
2
3
4
5
6
7
8

In [ ]:
size = 100
start 1
while start <= size:
    name = input("enter a name of product")
        if name

In [14]:
names= ['alice','bob','','charlie','','david','','eve','','frank']
print(len(names))

4

In [19]:
for name in names:
    if name == '':
        continue
    print(f'i know {name}')

i know alice
i know bob
i know charlie

In [18]:
for name in names:
    if len(name) > 0:
        print(f'i know {name}')

i know alice
i know bob
i know charlie

In [20]:
 input('press enter to exit')

''

In [21]:
story = ""
while True:
    line = input("enter a line")
    if line == "end":
        break
    else:
        story += line + "\n"
print("you have written")       
print(story)

you have written


story






story = ""
story = ""

while

In [22]:
print(story)

story






story = ""
story = ""

while

In [23]:
fruits = ['apple', 'banana', 'mango']
for fruit in fruits:
    print('we have',fruit)
else:
    print('thats all')

we have apple
we have banana
we have mango
thats all

In [24]:
fruits = ['apple','banana', 'cherry', 'date', 'eggplant']

for fruit in fruits:
    print(fruit)
    if fruit == 'cherry':
        break
else:
    print('all fruits are listed')

apple
banana
cherry

In [29]:
number = int(input('enter a number'))
for i in range(2,number):
    if number % i == 0:
        print(f'{number} is not a prime number')
        break
else:
    print(f'{number} is a 👑 prime number')

In [ ]:
# wap a to add all number of the digit using while loop

In [ ]:
names = ['alice','bob']

In [15]:
for i,name in enumerate(names):
    print(i,name,len(names))

NameError: name 'names' is not defined

In [1]:
from string import ascii_lowercase

In [2]:
print(ascii_lowercase)

abcdefghijklmnopqrstuvwxyz

In [3]:
for p,i in enumerate(ascii_lowercase):
    print(i)
    if p == 10:
        break

a
b
c
d
e
f
g
h
i
j
k

In [7]:
fruits = ['apple','banana','cherry','date','eggplant']
prices = [100.00,40.00,120.00,200.00,25.00]
qty = [12,15,100,50,3]

In [10]:
for fr,pr,qt in zip(fruits,prices,qty):
    print(f'{fr} costs {pr} {qt}')

apple costs 100.0 12
banana costs 40.0 15
cherry costs 120.0 100
date costs 200.0 50
eggplant costs 25.0 3