In [1]:
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [2]:
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [7]:
mset = {1,2,3,4,2,3,}

In [4]:
frds = {'ramu' ,'shamu' ,'hari' ,'sallan' ,'kallan'}
print(frds)

{'ramu', 'sallan', 'hari', 'shamu', 'kallan'}

In [6]:
# initialize my_set
my_set = {1 ,3}
print(my_set)

{1, 3}

In [7]:
# add on element
# oytput: {1,2,3}
my_set.add(2)
print(my_set)

{1, 2, 3}

In [12]:
#add list & set
# output: {1,2,3,4,5,6,8}
my_set.update([4,5] ,{1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [13]:
my_set.update({2,3,4})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [14]:
# intialize my_set
my_set = {1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [15]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [16]:
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [17]:
my_set.pop()
print(my_set)

{3, 5}

In [18]:
my_set.clear()
print(my_set)

set()

In [19]:
# set is a & b
A = {1,2,3,4,5}
B = {4,5,6,7,8}

# use | operator union 
# output: {1,2,3,4,5,6,7,8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

# use & operator intersection
# output: {1,2,3,4,5}
print(A & B)

{4, 5}

In [4]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
# use operator set difference
# output : {1,2,3,8}
print(A-B)
print(B-A)

{1, 2, 3}
{8, 6, 7}

In [ ]:
print

In [5]:
# symmetriic difference(B)

print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [6]:
x = {'tablet' ,'laptop' ,'microwave' , 'mobile'}
y = {'hairdryer' , 'washing machine' ,'mixer' ,'laptop' }
print(x | y)
print(x ^ y)
print(x & y)
print(x - y)

{'tablet', 'mixer', 'hairdryer', 'laptop', 'microwave', 'mobile', 'washing machine'}
{'mixer', 'tablet', 'hairdryer', 'microwave', 'mobile', 'washing machine'}
{'laptop'}
{'tablet', 'mobile', 'microwave'}

In [39]:
books = set()
for i in range(5):
     books.add(input('Enter a book: '))

print(books)

{'muoj', 'njh', 'nmhkj', 'nk', 'njho'}

In [32]:
dx = [1,2,3,4,5,6,7,8,4,2,2]
ds = set(dx)
print(dx,ds)

[1, 2, 3, 4, 5, 6, 7, 8, 4, 2, 2] {1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
xt = tuple(x)
print(x,xt)

{'mobile', 'laptop', 'microwave', 'tablet'} ('mobile', 'laptop', 'microwave', 'tablet')

In [34]:
x = {1,2,3,4}
x1 = list(x)
print(x, x1)

{1, 2, 3, 4} [1, 2, 3, 4]