In [1]:
# defining strings in Python
# all of the following are equivalent
my_string = 'Hello'
print(my_string)

my_string = "Hello"
print(my_string)

my_string = '''Hello'''
print(my_string)

# triple quotes string can multiple lines
my_string = """Hello, welcome to
            the world of Python"""
print(my_string)

Hello
Hello
Hello
Hello, welcome to
            the world of Python

In [3]:
#Accessing string characters in Python
str = 'digipodium'
print('str =',str)

#first character
print('str[0]=',str[0])

#second character
print('str[2] =',str[2])

#third character
print('str[3] =',str[3])

str = digipodium
str[0]= d
str[2] = g
str[3] = i

In [10]:
# getting a slice
s = 'digipodium'
slice1 = s[4:10]
print(slice1)

podium

In [11]:
x = 'DEVELOPER'
x[:6]

'DEVELO'

In [12]:
x[4:]

'LOPER'

In [2]:
x = chr(678)
print(x)
x = chr(2365)
print(x)
x = chr(12365)
print(x)

ʦ
ऽ
き

In [3]:
'Yo' * 5

'YoYoYoYoYo'

In [ ]:
print('-'*11)
print('Hello World')
print('-')

In [4]:
w = "Worldsingers"

In [5]:
list(w)

['W', 'o', 'r', 'l', 'd', 's', 'i', 'n', 'g', 'e', 'r', 's']

In [6]:
# slicing
w[:5]

'World'

In [8]:
w[1::2]# odd indexes

'olsnes'

In [9]:
w[::2]# even indexes

'Wrdigr'

In [11]:
w[::-1]# reverse string

'sregnisdlroW'

In [13]:
for i in range(1,6):
    print((i * 'L ').rjust(15))

             L
           L L
         L L L
       L L L L
     L L L L L

In [14]:
for i in range(1,-6,):
    print((i * '1,-6'))

In [15]:
w.rjust(88)

'                                                                            Worldsingers'

In [16]:
for i in range(1,6):
    print(('o '* i).rjust(15))

             o
           o o
         o o o
       o o o o
     o o o o o

In [18]:
for i in range(1,15,2):
    print((i * ' T').center(30))

               T
             T T T
           T T T T T
         T T T T T T T
       T T T T T T T T T
     T T T T T T T T T T T
   T T T T T T T T T T T T T

In [38]:
for i,v in enumerate(range(1,15,2)):
    if i % 2 == 0:
        print((v * ' 0 ').center(42,'X'))
    else:
        print((v * ' * ').center(43,'X'))

XXXXXXXXXXXXXXXXXXX 0 XXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXX *  *  * XXXXXXXXXXXXXXXXX
XXXXXXXXXXXXX 0  0  0  0  0 XXXXXXXXXXXXXX
XXXXXXXXXXX *  *  *  *  *  *  * XXXXXXXXXXX
XXXXXXX 0  0  0  0  0  0  0  0  0 XXXXXXXX
XXXXX *  *  *  *  *  *  *  *  *  *  * XXXXX
X 0  0  0  0  0  0  0  0  0  0  0  0  0 XX

In [26]:
w.center?

Signature: w.center(width, fillchar=' ', /)
Docstring:
Return a centered string of length width.

Padding is done using the specified fill character (default is a space).
Type:      builtin_function_or_method

In [35]:
story = '''The charity will also be ramping up its distribution programme.
With generous support from donors, we plan to donate thousands
 of copies to Afghans who have recently fled
  Afghanistan as wel as members of other refugee 
  diasporas making new lives in the West.
   We will also continue to donate our books 
   to children in deprived societies – just a
   s we did recently though Access Books in 
   he USA, providing 1,000 copies to the children 
   of Compton, Los Angeles. In this way, we hope to
    help inspire a love of books and reading, but also to help children living in modern, complex urban societies deal with the many challenging issues they face.'''

In [7]:
len(story)

666

In [8]:

print(len(words))

112

In [10]:
words = story.split()
print(words)

['The', 'charity', 'will', 'also', 'be', 'ramping', 'up', 'its', 'distribution', 'programme.', 'With', 'generous', 'support', 'from', 'donors,', 'we', 'plan', 'to', 'donate', 'thousands', 'of', 'copies', 'to', 'Afghans', 'who', 'have', 'recently', 'fled', 'Afghanistan', 'as', 'wel', 'as', 'members', 'of', 'other', 'refugee', 'diasporas', 'making', 'new', 'lives', 'in', 'the', 'West.', 'We', 'will', 'also', 'continue', 'to', 'donate', 'our', 'books', 'to', 'children', 'in', 'deprived', 'societies', '–', 'just', 'a', 's', 'we', 'did', 'recently', 'though', 'Access', 'Books', 'in', 'he', 'USA,', 'providing', '1,000', 'copies', 'to', 'the', 'children', 'of', 'Compton,', 'Los', 'Angeles.', 'In', 'this', 'way,', 'we', 'hope', 'to', 'help', 'inspire', 'a', 'love', 'of', 'books', 'and', 'reading,', 'but', 'also', 'to', 'help', 'children', 'living', 'in', 'modern,', 'complex', 'urban', 'societies', 'deal', 'with', 'the', 'many', 'challenging', 'issues', 'they', 'face.']

In [12]:
story.split('of')

['The charity will also be ramping up its distribution programme.\nWith generous support from donors, we plan to donate thousands\n ',
 ' copies to Afghans who have recently fled\n  Afghanistan as wel as members ',
 ' other refugee \n  diasporas making new lives in the West.\n   We will also continue to donate our books \n   to children in deprived societies – just a\n   s we did recently though Access Books in \n   he USA, providing 1,000 copies to the children \n   ',
 ' Compton, Los Angeles. In this way, we hope to\n    help inspire a love ',
 ' books and reading, but also to help children living in modern, complex urban societies deal with the many challenging issues they face.']

In [13]:
story.split('?',12)

['The charity will also be ramping up its distribution programme.\nWith generous support from donors, we plan to donate thousands\n of copies to Afghans who have recently fled\n  Afghanistan as wel as members of other refugee \n  diasporas making new lives in the West.\n   We will also continue to donate our books \n   to children in deprived societies – just a\n   s we did recently though Access Books in \n   he USA, providing 1,000 copies to the children \n   of Compton, Los Angeles. In this way, we hope to\n    help inspire a love of books and reading, but also to help children living in modern, complex urban societies deal with the many challenging issues they face.']

In [15]:
story.split?

Signature: story.split(sep=None, maxsplit=-1)
Docstring:
Return a list of the words in the string, using sep as the delimiter string.

sep
  The delimiter according which to split the string.
  None (the default value) means split according to any whitespace,
  and discard empty strings from the result.
maxsplit
  Maximum number of splits to do.
  -1 (the default value) means no limit.
Type:      builtin_function_or_method

In [16]:
wordlist = ['Choclate', 'is', 'good', 'for', 'your' ,'health']

In [18]:
'_'.join(wordlist)

'Choclate_is_good_for_your_health'

In [20]:
story.replace('is','in')

'The charity will also be ramping up its dintribution programme.\nWith generous support from donors, we plan to donate thousands\n of copies to Afghans who have recently fled\n  Afghanintan as wel as members of other refugee \n  diasporas making new lives in the West.\n   We will also continue to donate our books \n   to children in deprived societies – just a\n   s we did recently though Access Books in \n   he USA, providing 1,000 copies to the children \n   of Compton, Los Angeles. In thin way, we hope to\n    help inspire a love of books and reading, but also to help children living in modern, complex urban societies deal with the many challenging insues they face.'

In [2]:
story.replace('.','!!',3)

'The charity will also be ramping up its distribution programme!!\nWith generous support from donors, we plan to donate thousands\n of copies to Afghans who have recently fled\n  Afghanistan as wel as members of other refugee \n  diasporas making new lives in the West!!\n   We will also continue to donate our books \n   to children in deprived societies – just a\n   s we did recently though Access Books in \n   he USA, providing 1,000 copies to the children \n   of Compton, Los Angeles!! In this way, we hope to\n    help inspire a love of books and reading, but also to help children living in modern, complex urban societies deal with the many challenging issues they face.'

In [4]:
story

'The charity will also be ramping up its distribution programme.\nWith generous support from donors, we plan to donate thousands\n of copies to Afghans who have recently fled\n  Afghanistan as wel as members of other refugee \n  diasporas making new lives in the West.\n   We will also continue to donate our books \n   to children in deprived societies – just a\n   s we did recently though Access Books in \n   he USA, providing 1,000 copies to the children \n   of Compton, Los Angeles. In this way, we hope to\n    help inspire a love of books and reading, but also to help children living in modern, complex urban societies deal with the many challenging issues they face.'

In [5]:
story.upper()

'THE CHARITY WILL ALSO BE RAMPING UP ITS DISTRIBUTION PROGRAMME.\nWITH GENEROUS SUPPORT FROM DONORS, WE PLAN TO DONATE THOUSANDS\n OF COPIES TO AFGHANS WHO HAVE RECENTLY FLED\n  AFGHANISTAN AS WEL AS MEMBERS OF OTHER REFUGEE \n  DIASPORAS MAKING NEW LIVES IN THE WEST.\n   WE WILL ALSO CONTINUE TO DONATE OUR BOOKS \n   TO CHILDREN IN DEPRIVED SOCIETIES – JUST A\n   S WE DID RECENTLY THOUGH ACCESS BOOKS IN \n   HE USA, PROVIDING 1,000 COPIES TO THE CHILDREN \n   OF COMPTON, LOS ANGELES. IN THIS WAY, WE HOPE TO\n    HELP INSPIRE A LOVE OF BOOKS AND READING, BUT ALSO TO HELP CHILDREN LIVING IN MODERN, COMPLEX URBAN SOCIETIES DEAL WITH THE MANY CHALLENGING ISSUES THEY FACE.'

In [6]:
story.lower()

'the charity will also be ramping up its distribution programme.\nwith generous support from donors, we plan to donate thousands\n of copies to afghans who have recently fled\n  afghanistan as wel as members of other refugee \n  diasporas making new lives in the west.\n   we will also continue to donate our books \n   to children in deprived societies – just a\n   s we did recently though access books in \n   he usa, providing 1,000 copies to the children \n   of compton, los angeles. in this way, we hope to\n    help inspire a love of books and reading, but also to help children living in modern, complex urban societies deal with the many challenging issues they face.'

In [10]:
story.strip().capitalize()

'The charity will also be ramping up its distribution programme.\nwith generous support from donors, we plan to donate thousands\n of copies to afghans who have recently fled\n  afghanistan as wel as members of other refugee \n  diasporas making new lives in the west.\n   we will also continue to donate our books \n   to children in deprived societies – just a\n   s we did recently though access books in \n   he usa, providing 1,000 copies to the children \n   of compton, los angeles. in this way, we hope to\n    help inspire a love of books and reading, but also to help children living in modern, complex urban societies deal with the many challenging issues they face.'

In [11]:
story.swapcase()

'tHE CHARITY WILL ALSO BE RAMPING UP ITS DISTRIBUTION PROGRAMME.\nwITH GENEROUS SUPPORT FROM DONORS, WE PLAN TO DONATE THOUSANDS\n OF COPIES TO aFGHANS WHO HAVE RECENTLY FLED\n  aFGHANISTAN AS WEL AS MEMBERS OF OTHER REFUGEE \n  DIASPORAS MAKING NEW LIVES IN THE wEST.\n   wE WILL ALSO CONTINUE TO DONATE OUR BOOKS \n   TO CHILDREN IN DEPRIVED SOCIETIES – JUST A\n   S WE DID RECENTLY THOUGH aCCESS bOOKS IN \n   HE usa, PROVIDING 1,000 COPIES TO THE CHILDREN \n   OF cOMPTON, lOS aNGELES. iN THIS WAY, WE HOPE TO\n    HELP INSPIRE A LOVE OF BOOKS AND READING, BUT ALSO TO HELP CHILDREN LIVING IN MODERN, COMPLEX URBAN SOCIETIES DEAL WITH THE MANY CHALLENGING ISSUES THEY FACE.'

In [13]:
story.casefold()

'the charity will also be ramping up its distribution programme.\nwith generous support from donors, we plan to donate thousands\n of copies to afghans who have recently fled\n  afghanistan as wel as members of other refugee \n  diasporas making new lives in the west.\n   we will also continue to donate our books \n   to children in deprived societies – just a\n   s we did recently though access books in \n   he usa, providing 1,000 copies to the children \n   of compton, los angeles. in this way, we hope to\n    help inspire a love of books and reading, but also to help children living in modern, complex urban societies deal with the many challenging issues they face.'

In [14]:
msg = input('enter anything:')
msg.isalpha()

False

In [17]:
msg = input('enter a number:')
if msg.isnumeric():
    print('valid number')
else:
    print('invalid number')

valid number

In [11]:
msg = input('enter a anything:')
msg.isalnum()

True

In [9]:
story.count('of')

4

In [10]:
occurance = story.count('a')
print(occurance)

29

In [8]:
for char in "abcdefghijklmnopqrstuvwxyz":
    print(char,story.count(char))

a 29
b 7
c 16
d 19
e 59
f 10
g 14
h 25
i 40
j 1
k 4
l 25
m 11
n 37
o 48
p 17
q 0
r 25
s 39
t 34
u 13
v 6
w 10
x 1
y 6
z 0

In [5]:
name = input('enter your name:')
print(len(name))
# cleaning name
name = name.strip()
print(name,len(name))

3
gfg 3

In [18]:
guestlist = ['Mr . Smith', 'Mrs. Jones', 'Mr. Viliams' ,'Mr. Brown']
for name in guestlist:
    if name.startswith('Mr.'):
        print(f'Welcome gentelmen, {name}')
    if name.startswith('Mrs.'):  
        print(f'Welcome Milady, {name}')

Welcome Milady, Mrs. Jones
Welcome gentelmen, Mr. Viliams
Welcome gentelmen, Mr. Brown

In [20]:
files = ['Song.mp3', 'Song.mp4', 'doc.txt', 'doc2.txt', 'doc3.txt', 'Video.mp4']
# display all file types
for file in files:
    if file.endswith('.mp3'):
        print(f'{file} is Audio file')
    elif file.endswith('.mp4'):
        print(f'{file} is Video file')
    elif file.endswith('.txt'):
        print(f'{file} is Text file')

Song.mp3 is Audio file
Song.mp4 is Video file
doc.txt is Text file
doc2.txt is Text file
doc3.txt is Text file
Video.mp4 is Video file

In [28]:
vowels = 'aeiou'
message = 'this is a message, and it is a long message'

for vowel in vowels:
    message = message.replace(vowel,'')
    print(message)

this is  messge, nd it is  long messge
this is  mssg, nd it is  long mssg
ths s  mssg, nd t s  long mssg
ths s  mssg, nd t s  lng mssg
ths s  mssg, nd t s  lng mssg

In [37]:
# count all vowels from a string entered by user
for vowel in vowels:
    print(f"{vowel} occurs {story.lower().count(vowel)} times")

a occurs 34 times
i occurs 41 times
e occurs 59 times
o occurs 48 times
u occurs 14 times

# list 
-ordered,indexed
-hetrogenous
- dynamic mutable
-can hold duplicate values
-'list()' is used to create a list from other iterables
- square brackets '[]' are used to create a list

In [1]:
x = ['Alex', 'Bob', 'Charlie' 'David']

In [7]:
word = 'Christopher'
charList = list(word)
print(charList)

['C', 'h', 'r', 'i', 's', 't', 'o', 'p', 'h', 'e', 'r']

In [8]:
list100 = list(range(100))
print(list100)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [5]:
charList[-1] # last element

'r'

In [9]:
charList[0]

'C'

In [10]:
charList[-6]

't'

In [11]:
charList[-2] # second last element

'e'

In [17]:
soils=['Aluvial', 'Clay', 'Silt' , 'Sand' , 'Gravel' , 'Loam' ,]

In [18]:
slice = soils[0:5]
print(slice)

['Aluvial', 'Clay', 'Silt', 'Sand', 'Gravel']

In [19]:
slice = soils[3:6]
print(slice)

['Sand', 'Gravel', 'Loam']

In [20]:
slice = soils[1:5]
print(slice)

['Clay', 'Silt', 'Sand', 'Gravel']

In [21]:
soils[-3:]

['Sand', 'Gravel', 'Loam']

In [24]:
soils[1:-1]

['Clay', 'Silt', 'Sand', 'Gravel']

In [25]:
# list methods
- functions that add items
-append
-insert
-extend
- functions that remove items
-remove
-pop
-clear
- functions that change items
-copy
-sort
-reverse
-index
-count

SyntaxError: invalid syntax (3414585878.py, line 2)

In [26]:
books = ['Warbreaker',
          'The way of kings ' ,   
           'The final empire' ,
            'The hero of ages' ,
            'The way of kings' ,
            'The hero of ages' ,
            'The final empire' ,
            'warbreaker']

In [27]:
books.append("legion")
print(books)

['Warbreaker', 'The way of kings ', 'The final empire', 'The hero of ages', 'The way of kings', 'The hero of ages', 'The final empire', 'warbreaker', 'legion']

In [29]:
numbers =[] # empty list
for i in range(10):
    val = int(input(">< enter a number:"))
    numbers.append(val)
print(numbers)

[1234, 123456788, 1234567, 123345, 12344556, 134455, 12345, 12344555, 123444545, 13345678]

In [30]:
numbers.append('apple')

In [33]:
numbers.append(['banana' , 'orange'])

In [35]:
x = [1,2,3,4,5]
x.insert(2, 3.5)
x

[1, 2, 3.5, 3, 4, 5]

In [2]:
x = [3,4,7,10]
x.insert(4,10)
x

[3, 4, 7, 10, 10]

In [3]:
movies = [
    'The Shawshank Redemption' ,
    'The Godfather' ,
    'The dark knight' ,
    '12 angry mens ']

In [1]:
movies.pop(3)

NameError: name 'movies' is not defined

In [5]:
x.pop(3) # last value

10

In [6]:
movies.clear()
movies

[]

In [1]:
books.clear()
books

NameError: name 'books' is not defined

In [3]:
colors.reverse()
print(colors())

NameError: name 'colors' is not defined

In [5]:
colors.

NameError: name 'colors' is not defined

In [4]:
if 'yellow' in colors:
    print(colors.index('yellow'))

NameError: name 'colors' is not defined

In [17]:
uc= input('enter the color')
if uc in colors:
    print(colors.index(uc))

In [18]:
colors = ['red' , 'yellow', 'white' , 'orange' ,'red' , 'red']

In [19]:
colors.count('red')

3

In [20]:
colors.count('white')

1

In [28]:
a = colors.copy()
print(a == colors)

True

In [2]:
x = [1,2,3]
y = x
z = x.copy()

In [3]:
print('x & y' , x is y, x == y)
print('x & z' , x is z, x == z)

x & y True True
x & z False True

In [1]:
# create a string and print it.
a = input("Enter a number:")
a = int(a) # convert a to an Integer(if possible)
print(type(a))

<class 'int'>